#logotipo{
    float: left;
}

#logoimg{
    width: 3.5vw; 
    margin-top:2.5%;

}
#imagem{
    width: 100%;
}

#lista-filmes{
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 6rem;
}

nav{
    background-color: rgb(255, 0, 0);

}

header{
    position: fixed;
    width: 100%;
    z-index: 1;
}

.bunner{
    text-align: center;
    width: 32vw;
}

.bunnerImg{
    height: 70vh;
    width: 25vw;
    text-align: center;

}

.cardDois{
    margin-bottom: 5%;
    width: 25vw;
}

#todosDetalhes{
    width: 50vw;
    float: left;
}
#informacoes{
    display: flex;
    padding-top: 8%;
    width: 100%;
}


.buto{
    margin-left: 25%;
    margin-top: 5%;
}
