#logotipo{
    float: left;
}

#logoimg{
    width: 3.5vw; 
    margin-top:2.5%;

}
#imagem{
    width: 100%;
}

#lista-filmes{
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 6rem;
}

nav{
    background-color: rgb(255, 0, 0);

}

header{
    position: fixed;
    width: 100%;
    z-index: 1;
}
