#logotipo{
    float: left;
}

#logoimg{
    width: 3.5vw; 
    margin-top:2.5%;

}
#imagem{
    width: 100%;
}

#lista-dos-filmes{
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
    padding-left: 6rem;
    padding-right: 6rem;
    padding-top: 3rem;
}